{% load static %}

<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.7/mediaelementplayer.min.css">
    <link rel="stylesheet" href="{% static '/style.css' %}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">

    <title> Media-player </title>
</head>

<body>

    {% include 'main.html' %}

    <h1> Welcome to MyApp! </h1>
    {% include main.html %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.7/mediaelement-and-player.min.js"></script>

    <script scr="{% static " /style.js" %}"> </script>
</body>

</html>